/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  font-family: sans-serif;

}

button, summary {
	cursor: pointer;
}


/* in de main css staan dingen zoals je header en navigatie en elementen die je op elke pagina gaat gebruiken */


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* startje */
	--color-text:#111;
	--color-text-white:#fff;
	--color-background:#fff;
}


body {
    color:var(--color-text);
    background-color:var(--color-background);
    margin: 0;
  }
  
  a {
      text-decoration: none;
  }
  
  nav {
      background-color:var(--color-background);
  
  }  


/**********************/
/* BOVENSTE HEADERMENU*/
/**********************/

header {
}

header nav:nth-of-type(1) {

display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 1em;
align-items: center;
margin: 1em 1em 1em 1em;


}



/*********************************/
/*			     				 */
/* tweede menu, binnen de button */
/*								 */
/*********************************/


main {
	transition: transform 0.2s;
}

/* */


header nav:nth-of-type(2) {

	align-content: start;
	gap: 1em;
	background-color: var(--color-background);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	transform: translateX(100%);
	transition: 1s;
	z-index: 100;
	margin: 0;
	overflow: scroll;

} 

/* de class die toegevoegd word door de javascript. */

header nav.open {
transform: translateX(0);
transition: 1s;

}

/* hier eindigt de code van de 'beweging' */

header nav header {
	
	background-color: none;

}

header nav header section {
display: flex;
background-color: var(--color-text);
padding: 1em;
align-items: center;
justify-content: center;
margin: 0;

}

/* css voor beide ul's in de navigatiebar */

header nav:nth-of-type(2) ul {
font-weight: bolder;
}

 /* css voor beide ul's in de navigatiebar */

 /* css voor eerste UL */

header nav:nth-of-type(2) ul:nth-of-type(1) {
	padding: 1em;

}

header nav:nth-of-type(2) ul:nth-of-type(1) li {
border-bottom: 3px solid lightgray;
padding-top: 1em;
padding-bottom: 1em;
}


header nav:nth-of-type(2) header button {
	background: none;
	border: none;
}


header nav:nth-of-type(2) ul li a {
	color: var(--color-text);
	text-decoration: none;
	width: 100%;


}

nav > section:nth-of-type(2) {
	justify-self: center;
}

nav > section:nth-of-type(3) {
	justify-self: end;
}

header nav section button {
	border: none;
	background: none;
}

li {
	list-style: none;
}


header nav section > a > img {
	max-width: 2em;
}



section nav:nth-of-type(1) {
	display: grid;
	
}


header nav h1.visually-hidden {
	position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;

}

/* ^ deze class mocht van sanne */


/* code voor de footer */

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #252525;
	color: #cdcdcd;
	padding: 2em;
	justify-content: space-around;
}

footer > a {
	text-align: center;
}

footer > a > img {
	width: 30%;
	margin: 1em;
}

footer > p {
	text-align: center;
	font-size: 14px;
	font-weight: lighter;
	text-transform: capitalize;
}

